body {
  background: #ECECEA;
}

div {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

input[type=number] {
  border: none;
  background: none;
  border-bottom: 2pt solid darkgreen;
  text-align: inherit;
  font-size: inherit;
  width: 100px;
}

input[type=number]:focus {
  outline: none;
}

input[type=number]::-ms-clear {
  display: none;
}

select {
  -webkit-appearance: none;
  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;
  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: 0 !important;
  /*REMOVES BORDER*/
  background-color: #558C89;
  font: bold 20px/22px Arial, sans-serif;
  color: #FFF;
  border-radius: 20px;
  width: 25%;
  padding-left: 10px;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
}
#wins, #losses, #handicap, #previousMode {
  font-size: 16px;
  font-variant: small-caps;
  color: grey;
}

#history {
  font-size: 14px;
  font-variant: small-caps;
  color: grey;
}

#submit {
  padding: 0 25px;
  height: 35px;
  text-transform: uppercase;
  color: #DDD;
  background: #558C89;
  border: none;
  position: relative;
  margin: 10px;
  font: bold 20px/22px Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-translation: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#submit:focus {
  outline: none;
}

#reset {
  padding: 0 25px;
  height: 35px;
  text-transform: uppercase;
  color: #DDD;
  background: #C63D0F;
  border: none;
  position: relative;
  margin: 10px;
  font: bold 20px/22px Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-translation: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#reset:focus {
  outline: none;
}
